<div class="container mt-5">
    <div class="row">
        <div id="checkoutSteps" class="card col-md-12 mb-4 pt-3">
            <app-stepper [linearModeSelected]="true" #appStepper>
                <cdk-step [label]="'Address'" [completed]="(checkoutForm.get('addressForm')).valid">
                    <app-checkout-address [checkoutForm]="checkoutForm"></app-checkout-address>
                </cdk-step>
                <cdk-step [label]="'Delivery'" 
                    [completed]="(checkoutForm.get('deliveryForm')).valid">
                <app-checkout-delivery [checkoutForm]="checkoutForm"></app-checkout-delivery>
                </cdk-step>
                <cdk-step [label]="'Review'">
                    <app-checkout-review [appStepper]="appStepper"></app-checkout-review>
                </cdk-step>
                <cdk-step [label]="'Payment'">
                    <app-checkout-payment [checkoutForm]="checkoutForm"></app-checkout-payment>
                </cdk-step>
            </app-stepper>
        </div>
        <div class="card col-lg-6 col-md-12 offset-lg-6 offset-md-0 pt-2 mb-4">
            <app-order-totals
                *ngIf="(basketTotals$ | async)"
                [shippingPrice]="(basketTotals$ | async).shipping"
                [subtotal]="(basketTotals$ | async).subtotal"
                [total]="(basketTotals$ | async).total"
            ></app-order-totals
                >
        </div>
    </div>
</div>